<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD//wAAKysrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREAAAAAAAAREQEREREREBERAQAAAAAQEREBAAAAABAREQEBEAEQEBERAQEQARAQEREBARABEBAREQEBEAEQEBERAQAAAAAQEREBAAAAABAREQEREREREBERAAAAAAAAEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        rel="icon" type="image/x-icon" />
    <style> a{ text-decoration: none !important;} .button{text-decoration: none !important;}</style>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="notification is-primary">
                <%- include('./partials/loggedIn.ejs') %>
            </div>
        </div>
    </header>
    <div class="container pt-5">
        <div class="notification is-primary">
            <div class="column notification is-success is-three-quarters">
                <h3>Chatee con otras personas</h3>
                <h3 id="user"><%= currentSession %></h3>
                <label for="message">Ingrese un mensaje:</label>
                <input class="input is-warning is-medium" type="text" id="message" style="margin-top: 15px" />
                <button id="send" class="button is-success is-light" style="margin-top: 15px">
                    Enviar
                </button>
                <div style="margin-top: 15px" id="messages"></div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); // initialize socket.io connection
        const div = document.getElementById('messages')
        const user = document.getElementById('user')
        // handle send button click
        document.getElementById('send').addEventListener('click', (e) => {
            e.preventDefault()
            const username = user.innerText
            const message = document.getElementById('message').value;
            socket.emit('update-message', username, message); // emit a 'message' event with the input value
        });

        // handle incoming messages
        socket.on('messages', (messages) => {
            div.innerHTML = messages.map(message => {
                if (message.user.username === user.innerText) {
                    return `<div class="notification is-link is-light"
                    style="text-align: justify; margin-left: 35px;     padding: 15px;
                    border-radius: 20px;">
                        <div>
                        <p>${message.message}</p>
                        </div>
                    </div>`
                }
                return `<div
            class="notification is-primary is-light"
            style=" text-align: justify; margin-rigth:35px;     padding: 15px;
            border-radius: 20px;">
                <div>
                <p>${message.message}</p>
                </div>
            </div>`
            }).join('')
        })
    </script>

</body>

</html>