
<div class="control has-icons-left has-icons-right columns is-centered m-4">
    <div class="column is-half m-4">
        <form action="/register" method="post" role="form">
            <label class="label" for="username">Email: </label>
            <input class="input is-success" type="text" placeholder="Ingrese su email" value=""
                name="username" id="username" required />

            <label class="label mt-4" for="password">Contraseña: </label>
            <input class="input is-success" type="password" placeholder="Ingrese su contraseña" value=""
                name="password" id="password" required />
    
            <label class="label mt-4" for="names">Nombre y Apellido: </label>
            <input class="input is-success" type="text" placeholder="Ingrese su Nombre y Apellido" value=""
                name="names" id="names" required />

            <label class="label mt-4" for="direccion">Direccion: </label>
            <input class="input is-success" type="text" placeholder="Ingrese su direccion" value=""
                name="direccion" id="direccion" required />

            <label class="label mt-4" for="edad">Edad: </label>
            <input class="input is-success" type="text" placeholder="Ingrese su edad" value=""
                name="edad" id="edad" required />

            <label class="label mt-4" for="tel">Numero de telefono: </label>
            <input class="input is-success" type="tel" placeholder="Ingrese su numero de telefono" value=""
                name="tel" id="tel" required />

            <label class="label mt-4" for="url">Foto de perfil: </label>
            <input class="input is-success" type="url" placeholder="Ingrese link de su foto de perfil" value=""
            name="url" id="url" required />
            
            <div class="is-flex is-justify-content-center mt-4">
                    <button type="submit" id="btnRegister" class="button is-large is-success mt-4">Registrase</button>
            </div>
        </form>
    </div>
</div>